<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol Actual</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each usuarios}}
        <tr>
            <td>{{this.nombre}}</td>
            <td>{{this.correo}}</td>
            <td>{{this.rol}}</td>
            <td>
                <form action="/admin/usuarios/cambiar-rol/{{this._id}}" method="POST">
                    <select name="nuevoRol">
                        <option value="normal" {{#if this.esUsuarioNormal}}selected{{/if}}>Usuario</option>
                        <option value="administrador" {{#if this.esAdministrador}}selected{{/if}}>Administrador</option>
                    </select>
                    <button type="submit">Cambiar</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>




{{#if error}}
<p style="color: red;">{{error}}</p>
{{/if}}

{{#if success}}
<p style="color: green;">{{success}}</p>
{{/if}}
